input:focus {
    outline: none !important;
}

// LABEL FORM
.form-label {
    @apply block font-semibold text-sm text-white;
}

// CONTAINER FORM INPUT ANIMATION
.form-control-title-animation {
    @apply px-2 py-3 w-full text-white text-xs bg-transparent cursor-pointer;

    &:read-only {
        @apply focus:ring-0 focus:border-primary;
    }
}

// CONTAINER FORM INPUT DEFAULT
.form-control-default {
    @apply relative flex justify-between items-center w-full text-white text-xs bg-transparent p-3;

    .input-form-default {
        @apply w-full cursor-pointer bg-transparent tracking-wide;
    }

    &:read-only {
        @apply focus:ring-0 focus:border-white;
    }
}

// FORM ERROR
.form-error {
    @apply border-error focus:border-error focus:ring-0;
}

.textarea-control-default {
    @apply relative flex justify-between items-center w-full text-white text-xs bg-transparent p-3;

    .input-form-default {
        @apply w-full cursor-pointer bg-transparent outline-none tracking-wide;
    }

    &:read-only {
        @apply focus:ring-0 focus:border-white;
    }
}

input[type='textarea'] {
    appearance: none;
}
